<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Good Thymes Virtual Grocery</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <body>
        <div>
            <form action="/" method="post">
                <input type="text" name="name">
                <input type="text" name="text">
                <input type="text" name="step">
                <input type="text" name="score">
                <button type="submit">Отправить</button>
            </form>
        </div>

    <div>Our list:</div>

        <br>

        <tr th:each="question : ${questions}">
            <td th:text="${question.id}"></td>
            <td th:text="${question.name}"></td>
            <td th:text="${question.text}"></td>
        </tr>
    </body>
</html>